
body {
	font-size:10pt;
	width: 100%;
	height: 100%;
	background-color: #f8f0dc;
}
a {
	color: #fff !important;
}
.webleau_nodes {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10000px;
	height: 10000px;
}
.webleau_svg, .webleau_bgsvg {
	width: 10000px;
	height: 10000px;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none; 
}
.ident {
	position:fixed;
	pointer-events: none; 
	left:1%;
	top:1%;
	font-family: fantasy;
	font-style: italic;
	font-weight: bold;
	opacity: 0.1;
	font-size: 300%;
}

/* controls */
.controls_icon {
	position: fixed;
	top:0%;
	right:0%;
	opacity: 0.3;
	padding: 10px;
	font-size: 200%;
	color: #000;
	background-color: #999;
}
.controls_wrapper {
}
.controls {
	width:30%;
	position: fixed;
	top:0%;
	right:0%;
	text-align: left;
	background-color: #ccc;
	padding: 10px;
	display: none;
}
.controls_wrapper:hover .controls_icon {
	display: none;
}
.controls_wrapper:hover .controls {
	display: block;
}
.controls_wrapper input {
	width: 100%;
}
.controls .webleau_controls_tools {
	text-align: left;
}
.controls .webleau_tool {
	background-color: #999;
	color: white;
	cursor: pointer;
	font-size: 200%;
	padding: 3px;
	margin: 3px;
	display: inline-block;
}
.controls .webleau_tool:hover {
	background-color: #666;
}
/* end controls */


/* nodes */
.webleau_node:hover .webleau_tool {
	color: white;
	cursor: pointer;
	font-size: 100%;
	padding: 3px;
	display: inline-block;
}
.weblau_node .ui-icon {
	display: none !important;
}
.ui-resizable-handle {
	opacity: 0;
}
.webleau_node {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ccc;
	border: solid 1px #f8f0dc;
	border-radius: 5px;
	margin: 0;
	padding: 0px;
	overflow: hidden;
  	box-shadow:         2px 6px 20px 2px rgba(0,0,0,0.1);
}
.webleau_node_title {
	background-color: #999;
	color: #333;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 18px;
	font-size: 12px;
	overflow: hidden;
	font-family: sans-serif;	
	cursor: move;	
	padding-top: 2px;
}
.webleau_node_title_text {
	padding: 0px 3px;
}
.webleau_node_title_left {
	float: left;
}
.webleau_node_title_right {
	float: right;
}
.webleau_node_title_left  .webleau_tool {
	margin-right: 0.2em;
}
.webleau_node_title_right  .webleau_tool {
	margin-left: 0.2em;
}
.webleau_node_resize {
	position: absolute;
	right: 0;
	bottom: 0;
}
.webleau_node .webleau_tool {
	display: none;
}
.webleau_node .webleau_node_empty_title {
	display: none;
	position: absolute;
	width: 100%;
}
.webleau_node:hover .webleau_node_empty_title {
	display: block;
}
.webleau_node:hover .webleau_tool {
	color: white;
	cursor: pointer;
	font-size: 100%;
	padding: 0px 3px;
	display: inline-block;
}
.weblau_node .ui-icon {
	display: none !important;
}
.weblau_node:hover .ui-icon {
	display: block;
}
.webleau_node .webleau_tool:hover {
	color: #666;
}
.webleau_node_content {
	padding: 5px;
	color: black;
	overflow: auto;
}
.drop-hover {
	background-color: #999;
}
.drop-hover .webleau_node_title{
	background-color: #666;
}
/* end nodes */


/* SVG */
.webleau_link {
	stroke:#666;
	stroke-width:2;
	opacity: 0.2;
}
.webleau_link_from_text {
        opacity: 0.6;
	text-anchor: middle;
}
#axis line {
	stroke:#666;
	stroke-width:1;
	opacity: 0.2;
	stroke-dasharray: 4;
}

/*meta data table*/
.meta_object, .meta_array {
    	border-spacing: 2px;
	border-collapse: separate;
}
.meta_object th, .meta_object td, .meta_array th, .meta_array td {
	background-color: rgb(255,255,255,0.3);
	font-size: 10px;
	padding: 2px;
}

