/* general */
body {
	font-size:10pt;
	width: 100%;
	height: 100%;
	background-color: #f8f0dc;
	overflow: hidden;
}
a {
	color: #fff !important;
}
.lqs_nodes {
	cursor: crosshair;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10000px;
	height: 10000px;
}
.lqs_svg, .lqs_bgsvg {
	width: 10000px;
	height: 10000px;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none; 
}

.ident {
	position:fixed;
	pointer-events: none; 
	left:1%;
	top:1%;
	font-family: fantasy;
	font-style: italic;
	font-weight: bold;
	opacity: 0.1;
	font-size: 300%;
}
/* end general */


/* seeds */
.lqs_seed {
	margin: 2px 10px;
	padding: 3px 10px;
	border-radius: 1em;
	
	display: inline-block;
  	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(to top, rgba(255,255,255,0.3), rgba(127,127,127,0.3));
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000;
}
.lqs_seed_filled {
	background-color: #bec7e7;
	border: solid 1px #bec7e7;
}
.lqs_seed_filled:hover {
	background-color: #cfd8f8;
	border: solid 1px #adb6d6;
}
.lqs_seed_dragged_from {
	background-color: rgba( 0,0,0,0.1 );
  	box-shadow: inset 2px 2px 8px 2px rgba(0,0,0,0.2);
	border: solid 1px #999;
	color: #666;
}
.lqs_seed_hole {
	background-color: rgba( 0,0,0,0.1 );
  	box-shadow: inset 2px 2px 8px 2px rgba(0,0,0,0.2);
}
/* end seeds */

/* controls */
.controls_icon {
	position: fixed;
	top:0%;
	right:0%;
	opacity: 0.2;
	padding: 10px;
	color: #000;
	background-color: #999;
	border-bottom-left-radius: 5px;
	z-index: 1000;
}
.controls_icon img {
	width: 64px;
	height: 64px;
	display: block;
}
.controls_wrapper {
	z-index: 1000; 
	position: fixed;
}
.controls {
	z-index: 1000;
	width:20%;
	position: fixed;
	top:0%;
	right:0%;
	text-align: left;
	background-color: #ccc;
	padding: 10px;
	display: none;
	border-bottom-left-radius: 5px;
	border-left: solid 1px #f8f0dc;
	border-bottom: solid 1px #f8f0dc;
}
.controls_wrapper:hover .controls_icon {
	display: none;
}
.controls_wrapper:hover .controls {
	display: block;
}
.controls_wrapper input {
	width: 100%;
}
.controls .lqs_controls_tools {
	text-align: left;
}
.controls .lqs_tool {
	background-color: #999;
	color: white;
	cursor: pointer;
	font-size: 200%;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	border-radius: 3px;
}
.controls .lqs_tool:hover {
	background-color: #666;
}
/* end controls */


/* nodes */
.lqs_node:hover .lqs_tool {
	color: white;
	cursor: pointer;
	font-size: 100%;
	padding: 3px;
	display: inline-block;
}
.ui-resizable-handle {
	opacity: 0;
}
.ui-icon-gripsmall-diagonal-se {
	background-color: red;
	width: 16px;
	height: 16px;
	right: 1px;
	bottom: 1px;
	position: absolute;
	display: block;
	background-image: none !important;
}
.lqs_node {
	position: absolute;
	cursor: default;
	top: 0px;
	left: 0px;
	background-color: #ccc;
	border: solid 1px #f8f0dc;
	border-radius: 5px;
	margin: 0;
	padding: 0px;
	overflow: hidden;
  	box-shadow:         2px 6px 20px 2px rgba(0,0,0,0.1);
}
.lqs_node_icon {
	position: absolute;
	cursor: move;
	top: 0px;
	left: 0px;
	background-color: #999;
	border-radius: 5px;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-size: contain;
	background-repeat:   no-repeat;
	background-position: center center;  
  	box-shadow:         2px 6px 20px 2px rgba(0,0,0,0.2);	
	border-top: solid 1px #aaa;
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
}
.lqs_node_icon.drop-hover {
	background-color: #666;
}
.lqs_dot {
	position: absolute;
	cursor: move;
}
.lqs_cached {
	background-color: #dbd;
	border: dashed 3px #999;
}
.lqs_node_title {
	text-align: center;
	background-color: #999;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 18px;
	font-size: 12px;
	overflow: hidden;
	font-family: sans-serif;	
	cursor: move;	
	padding-top: 2px;
}
.lqs_node_title_text {
	padding: 0px 3px;
}
.lqs_node_title_left {
	float: left;
}
.lqs_node_title_right {
	float: right;
}
.lqs_node_title_left  .lqs_tool {
	margin-right: 0.2em;
}
.lqs_node_title_right  .lqs_tool {
	margin-left: 0.2em;
}
.lqs_node_resize {
	position: absolute;
	right: 0;
	bottom: 0;
}
.lqs_node .lqs_tool {
	display: none;
}
.lqs_node .lqs_node_empty_title {
	display: none;
	position: absolute;
	width: 100%;
	opacity: 0.8;
}
.lqs_node:hover .lqs_node_empty_title {
	display: block;
}
.lqs_node_notitle .lqs_node_title {
	display: none !important;
}
.lqs_node:hover .lqs_tool {
	color: white;
	cursor: pointer;
	font-size: 100%;
	padding: 0px 3px;
	display: inline-block;
}
.lqs_node .lqs_tool:hover {
	color: #666;
}
.lqs_node_content {
	padding: 5px 10px 0px 10px;
	color: black;
	overflow: auto;
}
.lqs_node.drop-hover {
	background-color: #999;
}
.lqs_node.drop-hover .lqs_node_title{
	background-color: #666;
}
/* end nodes */


/* SVG */
.lqs_link {
	stroke:#666;
	stroke-width:2;
	opacity: 0.2;
	//pointer-events: auto; 
}
.lqs_link_from_text {
        opacity: 0.6;
	text-anchor: middle;
	//pointer-events: auto; 
}
.lqs_dot circle {
	fill: #666;
        opacity: 0.6;
	pointer-events: auto; 
}
.lqs_dot_text {
        opacity: 0.6;
	text-anchor: middle;
	pointer-events: auto; 
}
.lqs_icon_text {
        opacity: 0.6;
	text-anchor: middle;
	pointer-events: auto; 
}
#axis line {
	stroke:#666;
	stroke-width:1;
	opacity: 0.2;
	stroke-dasharray: 4;
}
/* end SVG */

/*meta data table*/
.meta_object, .meta_array {
    	border-spacing: 2px;
	border-collapse: separate;
}
.meta_object th, .meta_object td, .meta_array th, .meta_array td {
	background-color: rgb(255,255,255,0.3);
	font-size: 10px;
	padding: 2px;
}
/* end metadata table */

/* card menu */
.lqs_card_menu {
	cursor: default;
	position: absolute;
	background-color: #666;
	color: #fff;
	z-index: 500;
	border-radius: 10px;
	border: solid 1px #f8f0dc;
}
.lqs_card_menu_item {
	cursor: pointer;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 2px 15px;
	margin: 4px  4px;
	border-radius: 5px;
}
.lqs_card_menu_item:hover {
	background-color: #fff;
	color: #000;
}
.lqs_card_menu_item_disabled {
	color: #999;
	cursor: default;
}
.lqs_card_menu_item_disabled:hover {
	background-color: #000;
	color: #999;
}
/* end card menu */
